.underline{
    text-decoration: underline;
    margin: 0 auto;
}

.space-under{
    padding: 20px auto;
}

.center-button{
   text-align: center;
}

#dialogBox {
    background: red;
}

.table-margin{
    margin: 0 auto;
}

.jeopardy{
    font-family: 'Luckiest Guy', cursive;
    font-size: 75px;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.greeting{
    font-size: 50px;
    font-weight: bold;
}


